@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');

.banner {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

body {
    background: linear-gradient(135deg, #1f1a1a, #0f0f0f, #000000);
    color: #00ff41;
}

.banner .slider {
  position: absolute;
  width: 200px;
  height: 250px;
  top: 10%;
  left: calc(50% - 100px);
animation: autoRun 20s infinite;
  transform-style: preserve-3d;
  transform: perspective(1000px);
}


@keyframes  autoRun{
    from{
transform:perspective(1000px) rotateX(-17deg)  rotateY(0deg);


    }to{
        transform:perspective(1000px) rotateX(-17deg)  rotateY(360deg);

    }
    
}

.banner .slider .item {
  position: absolute;
  inset: 0;

  transform:
    rotateY(
      calc((var(--position) - 1) * (360deg / var(--quantity)))
    )
    translateZ(450px);
}

.banner .slider .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}


.banner .content{
    position: absolute;
    bottom: 0;
    left: 35%;
    transform:translate((-50%));
    width: min(1400px,100vw);
    height:max-content;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    background-color:transparent;
    padding-top: 140px;
}

.banner .content h1{
   font-family: 'ICA Rubrik';
   font-size: 10em;
   line-height: 1em;
   color: black;
}


.banner .content .auther{
   font-family: Poppins;
   text-align: right;
   max-width: 200px;
}



.banner .content h2{
    font-size: 3em;
}
/* 
.banner .content .model{

    background-image: url(assets/image/6.jpg);
    width: 100%;
    height: 75vh;
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: auto 130%;
    background-repeat:no-repeat ;
    background-position: top center;

} */

.seettuWorld{
width: 100%;
height: 50vh;
background-color: aqua;

}
